<div class="container">
    <div class="row mt-5">
        <div class="col-md-8">
            <h1>GO-REST-API</h1>

            <a href="/add_Data" class="btn btn-primary" style="text-decoration: none">Tambah Data</a>
            <% if (msg.length!==0) { %>
            <div class="alert alert-success mt-3" role="alert">
                <%= msg %>
            </div>
            <% } %>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <% getAPI.forEach(datas=> { %>
                        <tr>
                            <td>
                                <%= datas.id %>
                            </td>
                            <td>
                                <%= datas.name %>
                            </td>
                            <td>
                                <a href="/detail_data/<%= datas.id %>" class="badge text-bg-success" style="text-decoration: none">Detail</a>
                                <br>
                                <a href="/update_data/<%= datas.id %>" class="badge text-bg-warning" style="text-decoration: none"> Ubah</a>
                                <br>
                                <form method="post" action="/delete_data/<%= datas.id %>?_method=DELETE">
                                    <button type="submit" class="badge text-bg-danger">Hapus</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>